name: ci

on:
  push:
    branches: ["master", "main"]
  pull_request: {}

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  panel_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: panel
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: panel/package-lock.json
      - name: Install
        run: npm ci
      - name: Build
        env:
          NEXT_TELEMETRY_DISABLED: "1"
        run: npm run build

